<div
  class="header bg-primary"
  style="
    align-items: center;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100%;
  "
>
  <h4 class="title m-0"><i class="fa fa-credit-card mr-2"></i>InCredi</h4>
  <div class="action-group">
    <a href="../../docs/overview.html" target="_blank" class="btn"
      ><i class="fa fa-code"></i><span>Docs</span></a
    >
    <a href="https://github.com/probeh/incredi" target="_blank" class="btn"
      ><i class="fa fa-github"></i><span>GitHub</span></a
    >
    <button *ngIf="this.authenticated" class="btn" (click)="this.logout()">
      <i class="fa fa-sign-out"></i><span>Logout</span>
    </button>
  </div>
</div>
