/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";
// ======================================= //
// Global Style Variables:
// ======================================= //
$primary: #3f51b5;
// ======================================= //
html,
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}
// ======================================= //
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
input,
.p-float-label {
  width: 100% !important;
}
.bg-primary {
  background: $primary !important;
  color: white;
}
.bg-primary-light {
  background: lighten($color: $primary, $amount: 5%) !important;
  color: white;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
